<h1>Author's Posts
  <a href="/new">(+)</a>
</h1>

<ul>
<% @entries.each do |entry| %>
  <li>
    <a href='/<%= entry.id %>'><%= entry.author %></a>
  </li>

  <li>
    <%= entry.date_taken %>
  </li>

  <li>
    <img src='<%= entry.photo_url %>'>
  </li>

  <li>
    <%= entry.caption %>
  </li>

<% end %>
</ul>
